body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body form{
    display: flex;
    margin-bottom: 1em;
} 
body p{
    font-size: x-large;
}
/* Chrome, Safari, Edge, Opera  to remove arrow spinner*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  to remove arrow spinner*/
input[type=number] {
  -moz-appearance: textfield;
}
.code-input{ 
    width: 4em;
    height: 4em;
    margin: 1em;
    border: 2px solid rgb(242, 237, 237);
    border-radius: 4px;
    text-align: center;
    font-size: 1em;
}
.code-input:focus{
    box-shadow: 0 0 20px 0;
    outline: none;
}
button[type="submit"]
{
    width: 6em;
    height:2em;
    font-size: 1.5em;
    background-color: rgb(61, 158, 200);
    border: 1px solid rgb(215, 207, 207);
    border-radius: 5px;
    color: white;
}